@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');


//titles
$titles-font-family: 'Poppins', sans-serif;
$titles-font-weight: 700;

$medium-font-weight: 400;
//paragraphs
$paragraphs-font-family: 'Poppins', sans-serif;
$paragraphs-font-weight: 100;