@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Smooch+Sans:wght@500&display=swap');


.titulo {
  display: block;
  position: relative;
  font-size: calc(1.2rem * 4.8);
  text-align: center;
  margin-left: 0rem;
  margin-top: 0rem;
  color:#f88e84;
  font-family: 'Smooch Sans', sans-serif;
}
.texto {
  display: block;
  position: relative;
  font-size: calc(1.2rem * 1.4);
  text-align: justify;
  padding-top: 0rem;
  width: 100%;
  margin: 0 auto;
  color: #000000da;
  font-weight: 500;
  font-family: 'Noto Sans', sans-serif;
  text-indent: 3rem;
}
.img {
  width: 300px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 500px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}
.row {
  padding-left: 0;
  padding-right: 0;
  padding-top: 5rem;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.contenedor {
  height: 100%;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

