@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Smooch+Sans:wght@500&display=swap');


.contenedor {
  height: auto;
  min-height: 100vh;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(33, 65, 112, 0.9);

}
.titulo {
  display: block;
  position: relative;
  font-size: calc(1.2rem * 4.8);
  text-align: center;
  margin-left: 0rem;
  color: #f88e84;
  font-family: 'Smooch Sans', sans-serif;
}
.texto {
  display: block;
  position: relative;
  font-size: calc(1.2rem * 1.2);
  text-align: center;
  padding-top: 1rem;
  width: 100%;
  margin: 0 auto;
  color: #000000da;
  font-weight: 500;
  font-family: 'Noto Sans', sans-serif;
}
.row {
  padding-left: 0;
  padding-right: 0;
  padding-top: 5rem;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}
.ul {
  padding: 4rem;
  list-style: none;
  color: #000000da;
  font-weight: 500;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.5rem;
}
.ul li {
  padding-bottom: 2rem;
}
.gmail {
  color: rgba(33, 65, 112, 0.9);
  margin-right: 1rem;
}

.black_code {
  padding: 18px;
  float: left;
  display: inline-block;
}

.copy {
  color: blue;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  top: 5px;
}

.text_copied {
  font-size: 24px;
  position: relative;
  padding: 16px;
  display: inline-block;
  color: rgba(33, 65, 112, 0.9);
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.btnCopy {
  color:whitesmoke;
  background-color: #f88e84;
  border: 0;
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 6px;
  padding: .1rem .5rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 5px 12px;
}
.btnCopy:hover {
  background-color: rgba(33, 65, 112, 0.9);
}
.btnCopy a {
  color:whitesmoke;
  background-color: transparent;
  border: 0;
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 6px;
  padding: .1rem .5rem;
  text-decoration: none;
}
.btnCopy a:hover {
  color: whitesmoke;
}
