@import '../../utils/colors.module.scss';
@import url("https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100;500&display=swap");

.container {
  width: 100%;
  height: 1rem;
  background-color: $secundarioDark;
  display: inline;
  position: absolute;
  margin: 0rem auto;
  padding-top: 5rem;
}
.container p {
  color: $secundario;
  text-align: center;
  font-size: 1.4rem;
  margin-bottom:0;
  font-family: "Smooch Sans", sans-serif;
  font-weight: 900;
}
.icon {
  color: $acentoRed;
  font-size: 1.5rem;
  margin-top: -0.7rem;
}
.icon:hover {
  color: $acento;
}
