@import "../../../../utils/colors.module.scss";
@import "../../../../utils/fonts.module.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Smooch+Sans:wght@500&display=swap");

.contenedor {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: block;
  margin: 0 auto;
  padding-top: 1rem;
  background-color: $secundarioDark;
}
.contenedorPequeño {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 1rem 30%;
  background-color: $secundarioDark;
}
.img {
  width: 60%;
  opacity: 0.4;
  max-width: 80em;
  min-width: 20em;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  padding: 1rem;
  padding-top: 2rem;
}
.items {
  background-color: transparent;
  width: 50%;
  max-width: 80em;
  min-width: 20em;
  margin: 0 auto;
}
.titulo {
  display: block;
  position: relative;
  font-size: clamp(3rem, 1rem + 10vw, 7rem);
  text-align: center;
  margin-top: 4rem;
  color: $primario;
  font-family: $mono;
}
.btnCopy {
  color: whitesmoke;
  background-color: $acento;
  border: 0;
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 6px;
  padding: 0.1rem 0.5rem;
  margin: 0 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 5px 12px;
}
.btnCopy:hover {
  background-color: $acentoRed;
}
.btnCopy a {
  color: whitesmoke;
  background-color: transparent;
  border: 0;
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 6px;
  padding: 0.1rem 0.5rem;
  text-decoration: none;
}
.btnCopy a:hover {
  color: black;
}
.tituloItem {
  font-family: $mono;
  font-size: 2rem;
  color: $primario;
  font-weight: 500;
  margin: 0;
}
.textoItem {
  font-family: $code;
  font-style: italic;
  font-size: 1.2rem;
  color: $acento;
  font-weight: 700;
}
.row {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0rem;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.btnRepos {
  color: $acentoRed;
  background-color: $acentoRed;
  border: 0;
  border-radius: 6px;
  padding: 0.5rem;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 5px 12px;
}
.btnRepos:hover {
  background-color: $acento;
}
.btnRepos a {
  color: $acento;
  background-color: transparent;
  border: 0;
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 6px;
  padding: 0.1rem 0.5rem;
  text-decoration: none;
  font-size: 1.5rem;
}
.btnRepos a:hover {
  color: $acentoRed;
}
.icon {
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  margin-top: -0.5rem;
}
.icons {
  color: $acento;
  width: 4rem;
  margin: 1rem;
  font-size: 4rem;
  transition-duration: 0.5s;
}
.icons:hover {
  color: $acentoRed;
}
.badge {
  color: $acentoRed;
  background-color: $secundario;
  height: 2rem;
  font-size: 1.4rem;
  line-height: 0.8rem;
  margin-left: 0rem;
  font-family: "Smooch Sans", sans-serif;
  font-weight: 900;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: rgba(98, 98, 98, 0.3) 0px 9px 38px,
    rgba(0, 0, 0, 0.22) 0px 5px 12px;
}
.skillsTitles {
  color: $primario;
  font-size: 2rem;
}

@media screen and (max-width: 1023px) {
  .img {
    opacity: 0.4;
    width: 60%;
    max-width: 80em;
    min-width: 22em;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 1rem;
    padding-top: 2rem;
  }
  .items {
    background-color: transparent;
    width: 40%;
    height: 80%;
    max-width: 80em;
    min-width: 15em;
    margin: 0 auto;
  }
  .contenedorPequeño {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 1rem 3%;
    background-color: $secundarioDark;
  }
  .contenedor {
    width: 100%;
    min-width: 10em;
    height: auto;
    min-height: 50vh;
    display: block;
    margin: 0 auto;
    padding-top: 1rem;
    background-color: $secundarioDark;
  }
  .row {
    --bs-gutter-x: 0 !important;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5rem;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
}
